<a href="https://colab.research.google.com/github/anshuman-8/Loan-Prediction/blob/main/Loan_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Approval Prediction

In [19]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
%matplotlib inline
from sklearn.metrics import mean_squared_error

In [20]:
Loan_data = pd.read_csv("/loan_Approval_dataset.csv")
# Loan_data=datasets.loan_dataset.csv
Loan_data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [21]:
test_data = pd.read_csv("/loan_dataset.csv")
# Loan_data=datasets.loan_dataset.csv
test_data.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            NaN         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

In [22]:
print(Loan_data.keys())

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [23]:
Loan_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [24]:
Loan_data['LoanAmount'] = Loan_data['LoanAmount'].fillna(Loan_data['LoanAmount'].mean())
Loan_data['Loan_Amount_Term'] = Loan_data['Loan_Amount_Term'].fillna(Loan_data['Loan_Amount_Term'].mean())
Loan_data['Credit_History'] = Loan_data['Credit_History'].fillna(Loan_data['Credit_History'].mean())

In [25]:
Loan_data['Gender'] = Loan_data["Gender"].fillna(Loan_data['Gender'].mode()[0])
Loan_data['Married'] = Loan_data["Married"].fillna(Loan_data['Married'].mode()[0])
Loan_data['Dependents'] = Loan_data["Dependents"].fillna(Loan_data['Dependents'].mode()[0])
Loan_data['Self_Employed'] = Loan_data["Self_Employed"].fillna(Loan_data['Self_Employed'].mode()[0])

In [26]:
Loan_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [27]:
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [28]:
test_data['LoanAmount'] = test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean())
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].mean())
test_data['Credit_History'] = test_data['Credit_History'].fillna(test_data['Credit_History'].mean())

In [29]:
test_data['Gender'] = test_data["Gender"].fillna(test_data['Gender'].mode()[0])
test_data['Dependents'] = test_data["Dependents"].fillna(test_data['Dependents'].mode()[0])
test_data['Self_Employed'] = test_data["Self_Employed"].fillna(test_data['Self_Employed'].mode()[0])

In [30]:
Loan_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [31]:
Loan_data['Total_Income'] = Loan_data['ApplicantIncome'] + Loan_data['CoapplicantIncome']
test_data['Total_Income'] = test_data['ApplicantIncome'] + test_data['CoapplicantIncome']

In [32]:
Loan_data.head()

    Loan_ID Gender Married  ... Property_Area Loan_Status Total_Income
0  LP001002   Male      No  ...         Urban           Y       5849.0
1  LP001003   Male     Yes  ...         Rural           N       6091.0
2  LP001005   Male     Yes  ...         Urban           Y       3000.0
3  LP001006   Male     Yes  ...         Urban           Y       4941.0
4  LP001008   Male      No  ...         Urban           Y       6000.0

[5 rows x 14 columns]

In [33]:
del Loan_data['Loan_ID']
from sklearn.preprocessing import LabelEncoder
cols = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents","Loan_Status"]
le = LabelEncoder()
for col in cols:
    Loan_data[col] = le.fit_transform(Loan_data[col])
print(Loan_data.head())

   Gender  Married  Dependents  ...  Property_Area  Loan_Status  Total_Income
0       1        0           0  ...              2            1        5849.0
1       1        1           1  ...              0            0        6091.0
2       1        1           0  ...              2            1        3000.0
3       1        1           0  ...              2            1        4941.0
4       1        0           0  ...              2            1        6000.0

[5 rows x 13 columns]

In [34]:
del test_data['Loan_ID']
from sklearn.preprocessing import LabelEncoder
cols = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents"]
le = LabelEncoder()
for col in cols:
    test_data[col] = le.fit_transform(test_data[col])
print(test_data.head())

   Gender  Married  Dependents  ...  Credit_History  Property_Area  Total_Income
0       1        1           0  ...        1.000000              2          5720
1       1        1           1  ...        1.000000              2          4576
2       1        1           2  ...        1.000000              2          6800
3       1        1           2  ...        0.825444              2          4886
4       1        0           0  ...        1.000000              2          3276

[5 rows x 12 columns]

In [35]:
data_X,data_Y=Loan_data.values, Loan_data['Loan_Status'].values

In [36]:
model=linear_model.LinearRegression()
model.fit(data_X,data_Y)

LinearRegression()

In [37]:
pridicted_Y=model.predict(data_X)
print("Square mean error is :",mean_squared_error(data_Y,pridicted_Y))

Square mean error is : 3.088658532109334e-30

In [38]:
print("Weights: ",model.coef_)
print("Intercepts: ",model.intercept_)

Weights:  [ 1.25602555e-16 -1.93863819e-16 -1.28118258e-17 -4.73595267e-16
  1.81201486e-15  7.56097413e-14  7.56097409e-14 -2.20172980e-17
 -9.31795799e-18  3.99569834e-17 -1.13324106e-16  1.00000000e+00
 -7.56095304e-14]
Intercepts:  5.329070518200751e-15

In [39]:
# plt.scatter(data_X.reshape(-1, 1),data_Y.reshape(-1, 1))
# plt.plot(data_X.reshape(-1,1),pridicted_Y)
# plt.show()