<a href="https://colab.research.google.com/github/anshuman-8/Loan-Prediction/blob/main/Loan_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Approval Prediction

Importing all modules

In [125]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
%matplotlib inline
from sklearn.metrics import mean_squared_error

Getting and displaying Dataset

In [126]:
Loan_data = pd.read_csv("/content/loan_Approval_dataset.csv")
# Loan_data=datasets.loan_dataset.csv
Loan_data.head()
Loan_data.shape

(614, 13)

In [127]:
test_data = pd.read_csv("/content/loan_dataset.csv")
# Loan_data=datasets.loan_dataset.csv
test_data.head()
test_data.shape

(367, 12)

In [128]:
print(Loan_data.keys())

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Columns with number of empty cells

In [129]:
Loan_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [130]:
Loan_data['LoanAmount'] = Loan_data['LoanAmount'].fillna(Loan_data['LoanAmount'].mean())
Loan_data['Loan_Amount_Term'] = Loan_data['Loan_Amount_Term'].fillna(Loan_data['Loan_Amount_Term'].mean())
Loan_data['Credit_History'] = Loan_data['Credit_History'].fillna(Loan_data['Credit_History'].mean())

In [131]:
Loan_data['Gender'] = Loan_data["Gender"].fillna(Loan_data['Gender'].mode()[0])
Loan_data['Married'] = Loan_data["Married"].fillna(Loan_data['Married'].mode()[0])
Loan_data['Dependents'] = Loan_data["Dependents"].fillna(Loan_data['Dependents'].mode()[0])
Loan_data['Self_Employed'] = Loan_data["Self_Employed"].fillna(Loan_data['Self_Employed'].mode()[0])

In [132]:
Loan_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [133]:
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [134]:
test_data['LoanAmount'] = test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean())
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].mean())
test_data['Credit_History'] = test_data['Credit_History'].fillna(test_data['Credit_History'].mean())

In [135]:
test_data['Gender'] = test_data["Gender"].fillna(test_data['Gender'].mode()[0])
test_data['Dependents'] = test_data["Dependents"].fillna(test_data['Dependents'].mode()[0])
test_data['Self_Employed'] = test_data["Self_Employed"].fillna(test_data['Self_Employed'].mode()[0])

In [136]:
Loan_data['Total_Income'] = Loan_data['ApplicantIncome'] + Loan_data['CoapplicantIncome']
test_data['Total_Income'] = test_data['ApplicantIncome'] + test_data['CoapplicantIncome']

In [137]:
Loan_data.head()

    Loan_ID Gender Married  ... Property_Area Loan_Status Total_Income
0  LP001002   Male      No  ...         Urban           Y       5849.0
1  LP001003   Male     Yes  ...         Rural           N       6091.0
2  LP001005   Male     Yes  ...         Urban           Y       3000.0
3  LP001006   Male     Yes  ...         Urban           Y       4941.0
4  LP001008   Male      No  ...         Urban           Y       6000.0

[5 rows x 14 columns]

In [138]:
col=['Loan_ID','ApplicantIncome','CoapplicantIncome']
for c in col:
  del test_data[c]
  del Loan_data[c]

from sklearn.preprocessing import LabelEncoder
cols = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents","Loan_Status"]
le = LabelEncoder()
for col in cols:
    Loan_data[col] = le.fit_transform(Loan_data[col])
print(Loan_data.head())

   Gender  Married  Dependents  ...  Property_Area  Loan_Status  Total_Income
0       1        0           0  ...              2            1        5849.0
1       1        1           1  ...              0            0        6091.0
2       1        1           0  ...              2            1        3000.0
3       1        1           0  ...              2            1        4941.0
4       1        0           0  ...              2            1        6000.0

[5 rows x 11 columns]

In [139]:
from sklearn.preprocessing import LabelEncoder
cols = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents"]
le = LabelEncoder()
for col in cols:
    test_data[col] = le.fit_transform(test_data[col])
print(test_data["Self_Employed"].head(23))

0     0
1     0
2     0
3     0
4     0
5     1
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
Name: Self_Employed, dtype: int64

### Hypothesis
  f(x<sub>1</sub>, x<sub>2</sub>, x<sub>3</sub>, x<sub>4</sub>, x<sub>5</sub>) = w<sub>0</sub> + w<sub>1</sub>x<sub>1</sub>+ w<sub>2</sub>x<sub>2</sub>+ w<sub>3</sub>x<sub>3</sub>+ w<sub>4</sub>4<sub>0</sub>+ w<sub>5</sub>x<sub>5</sub>+ w<sub>6</sub>x<sub>6</sub>+ w<sub>7</sub>x<sub>7</sub>

In [140]:
data_X,data_Y=Loan_data[['Total_Income','Gender','Married','Dependents','Education','Self_Employed',"Property_Area","Credit_History","Loan_Amount_Term"]].values, Loan_data['Loan_Status'].values
test_X=test_data[['Total_Income','Gender','Married','Dependents','Education','Self_Employed',"Property_Area","Credit_History","Loan_Amount_Term"]].values
# .

In [141]:
model=linear_model.LinearRegression()
model.fit(data_X,data_Y)

LinearRegression()

In [142]:
pridicted_Y=model.predict(test_X)
# print("Square mean error is :",mean_squared_error(data_Y,pridicted_Y))

In [143]:
print("Weights: ",model.coef_)
wt=np.array(list(model.coef_))
print("Intercepts: ",model.intercept_)

Weights:  [-2.87437300e-06 -2.32442999e-02  9.23904210e-02  3.61592349e-03
 -5.70562211e-02  1.19742999e-03  1.61522203e-02  7.11200290e-01
 -1.25025717e-04]
Intercepts:  0.10278307450845126

In [144]:
# plt.scatter(data_X.reshape(-1, 1),data_Y.reshape(-1, 1))
# plt.plot(data_X.reshape(-1,1),pridicted_Y)
# plt.show()
income=int(input("Enter Total income: "))
g=int(input("Enter Gender(1-> Male ;0-> Female ): "))
m=int(input("Enter if Married (1-> yes ;0-> No): "))
d=int(input("Enter number of dependents: "))
e=int(input("Enter if educated(0-> graduated ; 1 -> not-graduated): "))
se=int(input("Enter if self emplyed (1-> yes ;0-> No): "))
p=int(input("Emter residence type(0-> Rural ;1->semiurban ;2-> Urban ): "))
c=int(input("Enter Credit history (1-> yes ; 0-> no): "))
lt=int(input("Enter Loan term amount (number): "))
var=np.array([income,g,m,d,e,se,p,c,lt])
var.transpose()
print(var)

Enter Total income: 5720
Enter Gender(1-> Male ;0-> Female ): 1
Enter if Married (1-> yes ;0-> No): 1
Enter number of dependents: 0
Enter if educated(0-> graduated ; 1 -> not-graduated): 0
Enter if self emplyed (1-> yes ;0-> No): 0
Emter residence type(0-> Rural ;1->semiurban ;2-> Urban ): 2
Enter Credit history (1-> yes ; 0-> no): 1
Enter Loan term amount (number): 360
[5720    1    1    0    0    0    2    1  360]

In [145]:
print(np.matmul(wt,var))

0.7512001800160407

reference: https://medium.com/analytics-vidhya/simple-linear-regression-with-example-using-numpy-e7b984f0d15e

https://github.com/ParthS007/Loan-Approval-Prediction/issues