<a href="https://colab.research.google.com/github/anshuman-8/Loan-Prediction/blob/main/Loan_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Approval Prediction

Importing all modules

In [118]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
%matplotlib inline
from sklearn.metrics import mean_squared_error

Getting and displaying Dataset

In [119]:
Loan_data = pd.read_csv("/content/loan_Approval_dataset.csv")
# Loan_data=datasets.loan_dataset.csv
Loan_data.head()
Loan_data.shape

(614, 13)

In [120]:
test_data = pd.read_csv("/content/loan_dataset.csv")
# Loan_data=datasets.loan_dataset.csv
test_data.head()
test_data.shape

(367, 12)

In [121]:
print(Loan_data.keys())

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Columns with number of empty cells

In [122]:
Loan_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [123]:
Loan_data['LoanAmount'] = Loan_data['LoanAmount'].fillna(Loan_data['LoanAmount'].mean())
Loan_data['Loan_Amount_Term'] = Loan_data['Loan_Amount_Term'].fillna(Loan_data['Loan_Amount_Term'].mean())
Loan_data['Credit_History'] = Loan_data['Credit_History'].fillna(Loan_data['Credit_History'].mean())

In [124]:
Loan_data['Gender'] = Loan_data["Gender"].fillna(Loan_data['Gender'].mode()[0])
Loan_data['Married'] = Loan_data["Married"].fillna(Loan_data['Married'].mode()[0])
Loan_data['Dependents'] = Loan_data["Dependents"].fillna(Loan_data['Dependents'].mode()[0])
Loan_data['Self_Employed'] = Loan_data["Self_Employed"].fillna(Loan_data['Self_Employed'].mode()[0])

In [125]:
Loan_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [126]:
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [127]:
test_data['LoanAmount'] = test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean())
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].mean())
test_data['Credit_History'] = test_data['Credit_History'].fillna(test_data['Credit_History'].mean())

In [128]:
test_data['Gender'] = test_data["Gender"].fillna(test_data['Gender'].mode()[0])
test_data['Dependents'] = test_data["Dependents"].fillna(test_data['Dependents'].mode()[0])
test_data['Self_Employed'] = test_data["Self_Employed"].fillna(test_data['Self_Employed'].mode()[0])

In [129]:
Loan_data['Total_Income'] = Loan_data['ApplicantIncome'] + Loan_data['CoapplicantIncome']
test_data['Total_Income'] = test_data['ApplicantIncome'] + test_data['CoapplicantIncome']

In [130]:
Loan_data.head()

    Loan_ID Gender Married  ... Property_Area Loan_Status Total_Income
0  LP001002   Male      No  ...         Urban           Y       5849.0
1  LP001003   Male     Yes  ...         Rural           N       6091.0
2  LP001005   Male     Yes  ...         Urban           Y       3000.0
3  LP001006   Male     Yes  ...         Urban           Y       4941.0
4  LP001008   Male      No  ...         Urban           Y       6000.0

[5 rows x 14 columns]

In [131]:
col=['Loan_ID','ApplicantIncome','CoapplicantIncome']
for c in col:
  del test_data[c]
  del Loan_data[c]

from sklearn.preprocessing import LabelEncoder
cols = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents","Loan_Status"]
le = LabelEncoder()
for col in cols:
    Loan_data[col] = le.fit_transform(Loan_data[col])
print(Loan_data.head(10))

   Gender  Married  Dependents  ...  Property_Area  Loan_Status  Total_Income
0       1        0           0  ...              2            1        5849.0
1       1        1           1  ...              0            0        6091.0
2       1        1           0  ...              2            1        3000.0
3       1        1           0  ...              2            1        4941.0
4       1        0           0  ...              2            1        6000.0
5       1        1           2  ...              2            1        9613.0
6       1        1           0  ...              2            1        3849.0
7       1        1           3  ...              1            0        5540.0
8       1        1           2  ...              2            1        5532.0
9       1        1           1  ...              1            0       23809.0

[10 rows x 11 columns]

In [132]:
from sklearn.preprocessing import LabelEncoder
cols = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents"]
le = LabelEncoder()
for col in cols:
    test_data[col] = le.fit_transform(test_data[col])
print(test_data.head(10))

   Gender  Married  Dependents  ...  Credit_History  Property_Area  Total_Income
0       1        1           0  ...        1.000000              2          5720
1       1        1           1  ...        1.000000              2          4576
2       1        1           2  ...        1.000000              2          6800
3       1        1           2  ...        0.825444              2          4886
4       1        0           0  ...        1.000000              2          3276
5       1        1           0  ...        1.000000              2          5587
6       0        0           1  ...        1.000000              1          2226
7       1        1           2  ...        0.000000              0          3881
8       1        1           2  ...        1.000000              2         13633
9       1        0           0  ...        1.000000              1          4800

[10 rows x 10 columns]

### Hypothesis
  f(x<sub>1</sub>, x<sub>2</sub>, x<sub>3</sub>, x<sub>4</sub>, x<sub>5</sub>) = w<sub>0</sub> + w<sub>1</sub>x<sub>1</sub>+ w<sub>2</sub>x<sub>2</sub>+ w<sub>3</sub>x<sub>3</sub>+ w<sub>4</sub>4<sub>0</sub>+ w<sub>5</sub>x<sub>5</sub>+ w<sub>6</sub>x<sub>6</sub>+ w<sub>7</sub>x<sub>7</sub>

In [133]:
data_X,data_Y=Loan_data[['Total_Income','Gender','Married','Dependents','Education','Self_Employed',"Property_Area","Credit_History","Loan_Amount_Term"]].values, Loan_data['LoanAmount'].values
test_X,test_Y=test_data[['Total_Income','Gender','Married','Dependents','Education','Self_Employed',"Property_Area","Credit_History","Loan_Amount_Term"]].values, test_data['LoanAmount'].values
# .

In [134]:
model=linear_model.LinearRegression()
model.fit(data_X,data_Y)

LinearRegression()

In [135]:
pridicted_Y=model.predict(test_X)
print(pridicted_Y.head(20))
print("Square mean error is :",mean_squared_error(test_Y,pridicted_Y))

[137.34634987 134.34464523 157.29301315 142.67397199  90.26719364
 132.69789438  87.36043817 128.97369242 195.92572583 106.11093761
  88.84178882 131.70435592 108.43422836 203.52685795 115.11338182
 129.26797874 162.67873189 146.55038143 225.35161375  99.62328102
 111.35012134  72.76031938 109.91008998  89.30408448 168.62820693
 273.64600931 148.27542767 179.95439655 132.98500677  99.79030034
  83.48938013 159.37333369 122.04007654 135.58192985 126.25901186
 108.89754377 171.55149832 143.39541239 135.87629548 122.98528984
 142.94780555 103.13749308 111.68842201 154.00766889 103.30700068
 154.23494519 121.94884841 101.93488674 155.80275778 174.75558075
 130.87744432 133.43352768 153.86362216 123.2957666  130.43265646
 101.71409717 102.41508046 143.08441471 154.64703227 130.15881059
 114.47759251 160.72371202 129.06563998 111.74313899 130.54170532
 147.457655   119.55712673 124.65318905 156.4415578  160.48342002
 104.2032563  118.28008978 109.18529825 158.80246585 146.81501963
 133.8645958  136.08274776 148.1089339  160.71327017 149.79745577
 149.44694324 669.54047779 144.95324645 166.57597761 111.42062348
 189.43182176 135.55881518 107.51635719 121.20351962 122.23518929
 154.92404261 223.07014125 156.07492585 143.63930531 157.40988308
 158.31575204 157.12800762 149.38387773 185.59628024 167.60498514
 122.29682621 124.82230914 129.14384387  98.01786667 118.50837339
 128.88887013 106.38326106 153.68759868 132.0478732  123.75949777
 126.84094893 128.8272288  101.38848285 152.94994516 170.21268611
 165.91847065  77.95726846 140.0093604  109.9121033  146.45921931
 103.86945552 148.75456495 148.5434599  157.41002516 172.10598266
 119.85188752 130.60743806 162.68643678  82.44659092 128.05915068
 128.73998673 114.12193697 155.87781012 108.76526625  78.37717931
 126.08179937 147.77474454 145.3445011  119.20467669 128.18762211
 125.14964696 151.807995   153.0959321  355.20248844 167.50805296
 167.76246037  94.36868388 152.16058819 145.24955413 125.25052777
 136.6537663  125.93540644 126.51910643 122.21602863 150.50998081
 104.64407391 181.47168396 151.34665114 154.05710105 147.54176765
 152.76196484 107.46443406 122.80807735 104.12869567 122.68280016
  87.3361296  101.71737337 141.11404152 146.91452462 130.01947529
 113.7598093  132.878061   141.73540934 104.66950739 120.19912095
 186.49952622 135.07668325 105.87484278 152.61341603 228.81785509
 159.77647629 153.45976502 138.47766956 163.55886539 192.77957615
 117.27930968 138.19194744 179.63198015 187.51474165 204.33634865
 103.71048065 111.250741   150.6706652  140.72685386 200.96362024
 135.87629548 140.87518721 114.44926122 130.59757728 138.36909518
 193.71293682 122.12025956 126.65680307 135.27622469 102.96276887
 136.13146538 161.43752991 135.21778618 107.52157601 125.77180539
  93.25982295 148.31054901 167.43906383 131.97416919 142.25084518
 110.36473979  84.8741424  178.62642698 169.70808929 144.43805231
 126.78008132 130.38297561 126.46222551 121.07129598 142.60586757
  94.66981798 126.56720749 163.11197952 127.80582321 136.59205579
 310.55564223 135.99186885 101.77457723 143.53222228 118.9393677
 119.08862616 137.56744502 253.58288187 122.15036459 127.19177057
  94.64357167 139.74707032 130.79968087 134.90318222  80.6308656
 125.86729392 171.25499862 170.32328293 124.13254397  89.50924754
 153.80752179 120.13245427 116.01035198 143.69388071 135.22300499
 110.74920586 126.27940039 151.99334747 153.34667993 138.77022486
 141.73940007 132.29442971 120.13659364 252.45018952 144.80836155
 137.08486535 134.67444971 131.55047577 164.55800804 115.0234092
 122.64419435 150.25860066 280.76403193 156.78898974 106.86345478
 147.71381995 143.35616477 102.58966622 135.79323541 308.62171462
 116.43091596 140.00180889 117.79703735 142.57296963 267.10312048
 166.50485985 124.49357584 136.68185753 118.18514281 194.11148395
 141.03948088 151.12139554  98.43164966 121.95399116 117.89157372
 127.20110932 133.80544494 102.56917607 118.23628221 144.846886
 168.01574163 148.36185289 209.87904646 124.43102092 122.80200412
 110.2828261  182.03141266 128.07020908 159.87592534 162.15858685
 120.7354617  160.28585522  79.71783033 151.62718999  97.07779124
 138.94818976 129.7466013  114.6851474  109.96587134 124.64184139
 139.71993074 100.04384578 108.87946094 251.50856118 142.56753756
  84.050035   113.21719322 149.13353368 194.5396534  143.05850199
 143.92359836 185.44218243 128.42416179 128.92739459 124.0887209
 109.90879072  99.06331814 122.93820388 148.450685   135.35862961
 144.92790606 162.67888259 110.26414113 135.3000517  140.83479372
 174.92500634 143.48643069  87.12359815 127.10212116 127.15482132
 179.88102493 221.2864014  145.105175   169.95842471 122.16001552
 178.63876376 143.21297466  99.0538987  122.59687342 135.26166932
 187.33282112 137.36745074 151.66923933 130.77407793 124.41802471
 158.43961282 148.99943335]
Square mean error is : 2661.40319892452

In [136]:
print("Weights: ",model.coef_)
print("Intercepts: ",model.intercept_)
wt=np.array([list(model.coef_)])
print(wt)
print(wt.shape)

Weights:  [ 7.70489090e-03  4.73080081e+00  1.34827025e+01  5.81269055e+00
 -1.47657004e+01  1.11419954e+01 -4.10149024e+00 -7.33975748e-01
  1.16790057e-01]
Intercepts:  41.953406316782534
[[ 7.70489090e-03  4.73080081e+00  1.34827025e+01  5.81269055e+00
  -1.47657004e+01  1.11419954e+01 -4.10149024e+00 -7.33975748e-01
   1.16790057e-01]]
(1, 9)

In [ ]:
# plt.scatter(data_X.reshape(-1, 1),data_Y.reshape(-1, 1))
# plt.plot(data_X.reshape(-1,1),pridicted_Y)
# plt.show()
income=int(input("Enter Total income: "))
g=int(input("Enter Gender(1-> Male ;0-> Female ): "))
m=int(input("Enter if Married (1-> yes ;0-> No): "))
d=int(input("Enter number of dependents: "))
e=int(input("Enter if educated(0-> graduated ; 1 -> not-graduated): "))
se=int(input("Enter if self emplyed (1-> yes ;0-> No): "))
p=int(input("Emter residence type(0-> Rural ;1->semiurban ;2-> Urban ): "))
c=int(input("Enter Credit history (1-> yes ; 0-> no): "))
lt=int(input("Enter Loan term amount (number): "))
var=np.array([1,income,g,m,d,e,se,p,c,lt])
print(var.shape)
print(var)

In [ ]:
print(np.matmul(wt,var))

reference: https://medium.com/analytics-vidhya/simple-linear-regression-with-example-using-numpy-e7b984f0d15e

https://github.com/ParthS007/Loan-Approval-Prediction/issues